<!-- footer.component.html -->

<footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
        <!-- HQ -->
        <div>
          <h3 class="text-xl font-bold mb-2">HQ</h3>
          <p>
            <a href="https://maps.app.goo.gl/iRRv8fSFR5qfq3ef9" class="text-blue-500 hover:underline">
              68-70 Gwelo Street <br/>Tottenham VIC 3012  Australia
            </a>
          </p>
        </div>
  
        <!-- Branch -->
        <div>
          <h3 class="text-xl font-bold mb-2">Branch</h3>
          <p>Universite Mh. Civan Sk. <br/>Allure Tower K:9 No:1 D:271 <br/>Pk : 34153 Avcilar/ Istanbul/ Turkey</p>
        </div>
  
        <!-- E-mail -->
        <div>
          <h3 class="text-xl font-bold mb-2">E-mail</h3>
          <p><a href="mailto:info@eurekalogistics.com.au" class="text-blue-500 hover:underline">info&#64;eurekalogistics.com.au</a></p>
          <p><a href="mailto:operations@eurekacontainers.com" class="text-blue-500 hover:underline">operations&#64;eurekacontainers.com</a></p>
          <p><a href="tel:+61399588703" class="text-blue-500 hover:underline">+61 03 9958 8703</a></p>
        </div>
      </div>
    </div>
  </footer>
  