<div class="mb-4">
    <img src="assets/intl-container-trading.jpg" alt="intl-container-trading" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">INT’L Container Trading</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    Our global container trading network help our customers and agents to reach shipping containers for their SOC ( Shipper’s Own Containers ) shipments around the world. We also purchase your second hand or new build containers please contact us for a quote how much we can pay you! With Eureka Containers, you’ll discover a new level of business efficiency and transparency along the entire selling journey.
</p>