<div class="p-4">
    <div class="flex flex-wrap md:flex-row items-start justify-center">
        <!-- Sağ taraftaki resim -->
        <div class="w-full md:w-1/4 hidden md:flex items-start">
            <img src="assets/eureka-about-right-1.png" alt="Eureka Logistics Image" class="object-cover object-center w-full h-auto rounded-lg">
        </div>

        <!-- Sol taraftaki kart -->
        <div class="w-full md:w-3/4 max-w-2xl m-4 text-left">
            <div class="">
                <div class="font-bold text-xl mb-2">OUR MISSION</div>
                <p class="text-gray-700 text-base text-justify">
                    Our mission is to offer high quality services and reliable approach to each of our customers. In addition to operating our business profitably, we strive to operate it responsibly for our customers to be competitive in their industries.
                </p>
            </div>
            <div class="">
                <div class="font-bold text-xl mb-2">OUR VISION</div>
                <p class="text-gray-700 text-base text-justify">
                    To become the premier international freight forwarding and container trading company in Oceania by providing the utmost in value-added services to our customers, and in doing so, delivering superior returns to our stakeholders.
                </p>
            </div>
        </div>
    </div>
</div>
