<div class="mb-4">
    <img src="assets/freight-forwarding.jpg" alt="freight-forwarding" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">Freight Forwarding</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    Eureka Logistics has a dedicated, skilled, and experienced team to handle airfreight, seafreight, road freight, and railway shipments. We have a global agency network that covers all countries to handle all types of export and import shipments. With a single point of contact from almost any origin or destination, we provide freight forwarding services to book your cargo, arrange for pickup and delivery, and manage the shipping documentation. We’re here to be the solution to your shipments!
</p>
<p class="text-gray-700 leading-relaxed mt-4 text-justify">
    With years of experience and expertise in the industry, we ensure that your goods reach their destination safely, on time, and in compliance with all applicable regulations. Our customized solutions and dedicated customer service make us the preferred choice for businesses of all sizes.
</p>