<div class="mb-4">
    <img src="assets/interstate-transportation.jpg" alt="interstate-transportation" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">Interstate Transportation</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    Whatever cargo you have to be delivered across the country we cover all states for your deliveries in Australia. Throughout Australia, Eureka Logistics is your dedicated provider of full truckload transportation. If you need fast, expedited shipments of your materials, no one provides better services than us. Our road services can also be customised to suit your supply chain management requirements, with a focus on providing on-time deliveries at a competitive price.
</p>