
<div class="relative overflow-hidden w-full h-screen">
    <div class="flex transition-transform duration-500 ease-in-out h-screen">
      <div class="flex-shrink-0 w-full h-screen flex items-center justify-center relative">
        <img src="assets/container-home.jpg" class="w-full h-full object-cover" alt="Image 3">
        <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-40 text-white p-4">
          <div class="text-center">
            <span class="text-xl md:text-4xl font-semibold bg-blue-600 bg-opacity-50 px-4 md:px-6 py-2 rounded">Buy Now</span>
            <br />
            <br />
            <h2 class="text-xl md:text-3xl font-semibold bg-blue-600 bg-opacity-50 px-4 md:px-6 py-2 rounded">A Useful Storage</h2>
            <h2 class="text-lg md:text-2xl font-bold my-4">The Best Choice of Storage</h2>
            <a routerLink="/mart" class="bg-transparent border border-white text-white py-2 px-4 rounded hover:bg-blue-800 hover:text-white-600 transition mt-5">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  