<div class="mb-4">
    <img src="assets/fcl-lcl-delivery.jpg" alt="fcl-lcl-delivery" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">FCL / LCL Delivery</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    We offer optimum delivery modes to our customers for FCL ( Full Container Loads) and LCL ( Less than Container Loads. Our dedicated team offers the best solution and cost effective method for your shipments. Contact our experienced team to discuss delivery options. At Eureka Logistics we actively manage contracts and service levels to ensure our customers receive the best possible, reliable service at competitive rates.
</p>
