<div class="p-4">
  <div class="flex flex-wrap items-start justify-center">
    <!-- Sol taraftaki kart -->
    <div class="w-full md:w-3/4 max-w-2xl p-4">
      <div class=" text-left">
        <div class="font-bold text-2xl mb-2 md:text-xl">About Eureka Logistics</div>
        <p class="text-gray-700 text-base mb-4 text-justify">
          We as EUREKA are passionate about international freight forwarding and container trading and the impact it can
          have to better people lives. We believe everyone deserves the opportunity to achieve beyond their expectation,
          to overcome challenges to their shipments as well as container modification services! We see logistic as
          force-multiplier and view the world through your eyes to create solutions that make difference globally.
          Whilst we have over 10 years of collective logistic experience, our culture is unique as Australian as it
          comes.
        </p>
        <p class="text-gray-700 text-base mb-4 text-justify">
          We’re a logistic consulting practices that happen to be owned and run by Mr Yavuz Akcay and Ms Zahide Yildiz.
          We expect excellence from our services including warehousing, packaging and customs clearance with honesty and
          clear communication. As international trading has become pivotal for all businesses, EUREKA Logistics created
          its own specialised firm to provide business with a better way to sustainably grow.
        </p>
        <p class="text-gray-700 text-base text-justify">
          We are looking forward to being a part of your Success!
        </p>
      </div>
    </div>
  </div>

  <!-- Alt kısım -->
  <div class="p-4">
    <div class="flex flex-col items-center justify-center mt-3">
      <div class="container mx-auto text-orange-500 flex flex-col items-center justify-center h-full">
        <h2 class="text-3xl font-bold mb-4 text-center">Our Word Our Bond</h2>
        <p class="text-lg mb-6 text-center">Because we have values!</p>
        <!-- Mobil görünümde 2x3, masaüstünde 1 satırda 6 buton -->
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-4 w-full">
          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Reliability</a>
          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Responsiveness</a>
          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Honesty</a>
          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Safety</a>
          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Quality
            of service</a>

          <a href="#"
            class="text-center border-2 bg-orange-500 border-orange-300 rounded-full py-2 px-4 text-white hover:bg-white hover:text-orange-500 transition duration-300 ease-in-out flex items-center justify-center w-full">Diversity
            and Inclusion</a>
        </div>
      </div>
    </div>

  </div>


</div>