<div class="mb-4">
    <img src="assets/customs-clearance.jpg" alt="customs-clearance" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">Customs Clearance</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    We Provide prompt customs clearance so that our client’s cargo can move smoothly to the final destination. Our Professional customs brokers can help for your both import and export shipment across Australia. We collaborate with our customers to help on ;
</p>
<ul  class="mt-4">
    <li class="mb-4">
      <label class="flex items-center cursor-not-allowed" for="abf">
        
        <img src="assets/sing-icon.png" alt="" class="w-4 h-4 mr-2">
        Customs clearance and quarantine clearance
      </label>
    </li>
    <li class="mb-4">
      <label class="flex items-center cursor-not-allowed" for="incoterms">
        <img src="assets/sing-icon.png" alt="" class="w-4 h-4 mr-2">
        Anti-dumping advice and assistance
      </label>
    </li>
    <li class="mb-4">
      <label class="flex items-center cursor-not-allowed" for="container-owners">
        <img src="assets/sing-icon.png" alt="" class="w-4 h-4 mr-2">
        Free Trade agreement advice
      </label>
    </li>
    <li class="mb-4">
      <label class="flex items-center cursor-not-allowed" for="exchange-rates">
        <img src="assets/sing-icon.png" alt="" class="w-4 h-4 mr-2">
        Quarantine permit applications
      </label>
    </li>
    <li class="mb-4">
      <label class="flex items-center cursor-not-allowed" for="biosecurity-import">
        <img src="assets/sing-icon.png" alt="" class="w-4 h-4 mr-2">
        Tariff concession applications
      </label>
    </li>
  </ul>