<div class="mb-4">
    <img src="assets/container-sales.jpg" alt="container-sales" class="w-full rounded-lg shadow-sm">
</div>
<h2 class="text-2xl font-semibold text-gray-800 mb-4">Container Sales</h2>
<p class="text-gray-700 leading-relaxed text-justify">
    We supply both second hand and new build all types of shipping containers. Our Melbourne yard welcomes our customers to inspect actual shipping containers prior to purchases. We can also send actual container photos to our customers to help them saving time on travel for the inspections. We provide shipping containers & storage containers for individual as well as business to business applications. To learn more about the different size shipping containers & storage containers we offer , feel free to contact us today. Eureka Containers enables your container buying process to succeed through a seamless workflow, decreased costs and an agile partnership.
</p>